.body {
  display: flex;
  justify-content: center;
  background-color: #706f6f;
  width: auto;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color:#fff;
  border: 1px solid transparent;
  border-radius: 1rem;
  margin: auto;
}

.img {
  margin: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.text {
  text-align: center;
  font-size: 14px;
  max-width: 16rem;
  font-weight: 400;
  color: rgba(52, 52, 57, 0.5);
}